* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageHeader {
  width: 90vw;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #2e9bdb;
}
.pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  width: 90vw;
  height: 50px;
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}
input {
  border: none;
  border-bottom: solid 1px gray;
  text-align: center;
}
.post-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highlight-image {
  width: 250px;

  height: 180px;
  border-radius: 10%;
  margin: 10px;
}
.content-container {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.postDescription {
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 480px) {
  .post-container {
    flex-wrap: wrap;
  }
  .postDescription {
    width: 100%;
  }
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin: 7px;
}
.baseTextColor {
  color: gray;
}
.tag {
  margin-inline: 5px;
  text-decoration: underline;
}
